@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF pro display", Helvetica, Arial, sans-serif;
    font-size: 1.05rem;
    color: @primary;
    min-height: 20px;
}

#waybar {
    background: alpha(@surface_container, 0.9);
    color: white;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0px 5px;
}

tooltip {
    background: alpha(@tertiary, 0.5);
    border: 1px solid alpha(@tertiary_container, 0.5);
}

tooltip label {
    color: @secondory;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
    margin: 5px 3px;
    padding: 5px 3px;
}
#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#pulseaudio,
#network,
#backlight {
    background-color: alpha(@background, 0.7);
    padding: 5px 10px;
    border-radius: 10%;
    margin: 5px 3px;
}

#workspaces button:not(.empty) {
    background-color: alpha(@on_primary, 0.7);
    border-radius: 3px;
}
#workspaces button.visible {
    background-color: alpha(@background, 0.7);
    border-radius: 3px;
}

#backlight-slider slider {
    min-height: 0px;
    /* min-width: 0px; */
    opacity: 0;
    /* background-image: none; */
    box-shadow: none;
    background: black;
    border-radius: 50%;
    
}
#backlight-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background: black;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: rgb(40, 40, 109);
}

#taskbar {
    background-color: alpha(@background,0.7);
    border-radius: 3px;
    padding: 3px 3px;
}
#taskbar button.active {
    background-color: alpha(@secondary, 0.5); 
    border-radius: 3px;
}
#taskbar button {
    
}

#custom-app_launcher,
#custom-fil_manager {
    padding: 3px 3px;
    font-size: 22px;
}

#battery.low {
    color: orange;
}
#battery.critical {
    color: red;
}
#battery.charging {
    color: green;
}